body {
    background: #0b0b0b;
    font-family: Arial, sans-serif;
    color: white;
    margin: 0;
}
header {
    background-color: black;
    text-align: center;
    padding: 20px;
}
form {
    max-width: 600px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
input, textarea {
    padding: 10px;
    border: none;
    border-radius: 5px;
}
button {
    background-color: #333;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #555;
}
