body{
    background-image: url(/assets/images/fondo/wallhaven-gjye33_1366x768.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
}
header{
    margin: 10px;
}
main{
    margin: 100px;
}
footer{
    background-color: rgba(15, 15, 15, 0.918);
    text-align: center;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 1px;
}

/*selector del header*/
nav{
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 0;
    padding: 5px;
    background-color: rgba(15, 15, 15, 0.973);
    border-radius: 13px;
    box-shadow: 0 0 100px black;
}

nav li {
    margin: 0 50px;
}
nav li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
nav li a:hover {
    text-decoration: overline;
    text-decoration-color: darkgrey;
}

/*perfil*/
#perfil{
    margin: 90px;
    display: flex;
}
#foto-de-perfil img{
    width: 200px;
    border-radius: 100px;
    box-shadow: 0 0 100px black;
}
/*informacion*/
#informacion{
    background-color: rgba(43, 41, 39, 0.616);
    margin-top: 50px;
    margin: 30px;
    font-size: large;
    border-radius: 10px;
    padding: 10px;
}
#informacion h2{
    font-size: 20;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#informacion p{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*Apartado de sobre mi*/
#sobre-mi-informacion{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: rgb(204, 204, 204);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    background-color: rgba(24, 26, 27, 0.8);
    padding: 50px;
    border-radius: 10px;
}

/* apartado de la caja de lenguajes y los iconos de la caja*/
#sector-de-lenguajes{
    margin: 100px;
    display: flex;
    justify-content: center;
}
#sector-de-lenguajes img{
    width: 100px;
    margin: 0 35px;
    background-color: rgba(15, 15, 15, 0.973);
    padding: 10px;
    border-radius: 30px;
}

h3{
    text-align: center;
    color: rgba(0, 0, 0, 0.911);
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.7);
}
